html {
  -webkit-text-size-adjust: none
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed
}

.container {
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  transition: transform, 0.2s ease-in-out;
}

.moveUp {
  transform: translateY(-40%);
}

input {
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-size: 2em;
  width: 170px;
  height: 50px;
  outline: none;
}

input:focus {
  border: 1px solid black;
  box-shadow: 0 4px 15px 0 rgb(45 54 65 / 75%);
  -webkit-appearance: none;
  -webkit-box-shadow: 0 4px 15px 0 rgb(45 54 65 / 75%);
  -moz-box-shadow: 0 4px 15px 0 rgb(45 54 65 / 75%);
}

/*disable arrows for inoput type number
/* input::-webkit-outer-spin-button, */
/* input::-webkit-inner-spin-button { */
/* display: none; <- Crashes Chrome on hover */
/* -webkit-appearance: none; */
/* margin: 0; */
/* <-- Apparently some margin are still there even though it's hidden */
/* } */

label {
  margin-left: 10px;
  font-size: 1.8em;
}

/* .numpad button {
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
} */

.clear {
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2em;
  text-align: center;
}


.numpad {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 13%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: transform, 0.2s ease-in-out;
}

.hidden {
  transform: translateX(100%);
}

.numpad p {
  cursor: pointer;
  margin: 1px;
  padding: 0;
  border-radius: 5px;
  border: 1px solid black;
  width: 30%;
  color: white;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(to right, #25aae1, #25aae1, #04befe, #04befe); */
  box-shadow: 0 4px 15px 0 rgb(45 54 65 / 75%);
}

.touch {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.274);
}